node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*.local

logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

dist/
build/
coverage/
.nyc_output/
tmp/
temp/
.cache/
.out/
.eslintcache
*.tsbuildinfo
docs/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.swp
*~

.vscode-test/

uploads/
public/uploads/
npm-debug.log*
yarn.lock?*